/* * {
  margin: 0;
  padding: 0;
} */

.body {
  margin: 0;
  /* padding: 0;
  height: 95vh; */
}

.container {
  margin: 0;
  /* margin-top: -15px; */
  padding: 0;
  height: 100vh;
  width: 100vh;
  /* display: grid;
  grid-template-rows: 45px fr 45px;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; */
  /* min-height: 1000px; */
}

.header {
  height: 45px;
  width: 100%;
  margin: 0;
  top: 0;
  border: 0px;
  position: fixed;
}

.top-navigation {
  height: 45px;
  display: flex;
  margin-left: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  width: 300px;
  position: relative;
}

.headline {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 45px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.subtext {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.heroimage {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  border-style: outset;
  border-radius: 20px;
  width: 400px;
  max-width: 70%;
  margin-bottom: 15%;
}

.headshot {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  margin-bottom: 10px;
  border-style: outset;
  border-radius: 20px;
  width: 300px;
  max-width: 70%;
}

.glorious {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  margin-bottom: 10px;
  border-style: outset;
  border-radius: 20px;
  width: 300px;
  max-width: 70%;
}

.article {
  margin: 1rem auto;
  max-width: 600px;
}

.subheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listofskills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3rem auto;
  width: 60%;
}

.listofskills > ul {
  text-align: center;
}
.listofskills > ul > li {
  text-align: left;
  margin-left: 30%;
}

.resumedownload {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.projectlist {
  padding: 30px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  bottom: 0;
  position: fixed;
  align-items: center;
  border-style: solid;
}

.footlinks a {
  /* font-size: 1.2rem; */
  margin-left: 20px;
  padding: 10px;
}
