html,
body {
  font-family: Cambria;
}

.body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-image: linear-gradient(rgb(110, 103, 108), rgba(57, 54, 56));
}

.movingBox {
  border-style: solid;
}

.header {
  background-color: rgb(64, 58, 62);
  -webkit-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.25);
}

.topnav #myLinks {
  display: none;
}

.dropDown {
  background-color: rgba(0, 0, 0, 0.6);
}

.top-navigation a {
  color: rgb(99, 82, 93);
  font-weight: bold;
  display: block;
  transition: 0.5s;
}

.top-navigation a.icon {
  display: block;
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  height: 8vh;
  width: 8vh;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.fa {
  font-size: 7rem;
  width: 8vh;
  height: 8vh;
}

.top-navigation a:hover {
  color: rgb(145, 129, 129);
  transition: 0.5s;
}

.dropDown a:hover {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 80%;
  margin-left: 10px;
  color: rgb(228, 207, 220);
  -webkit-box-shadow: 10px 10px 9px -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 10px 10px 9px -1px rgba(0, 0, 0, 0.24);
  box-shadow: 10px 10px 9px -1px rgba(0, 0, 0, 0.24);
}

.dropDown a {
  text-decoration: none;
}

.headline {
  /* font-weight: bold; */
  /* font-style: italic; */
  /* font-family: Inknut Antiqua, Caslon, Plantin, Garamond, Baskerville, serif; */
}

.subtext {
  font-style: italic;
}

/* MODAL */
.modal {
  outline-style: solid;
  outline-color: black;
}

/* Slideshow */
.prev,
.next {
  cursor: pointer;
  color: rgb(200, 200, 200);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* END Slideshow */

.heroimage {
  border-style: outset;
  border-radius: 20px;
  border-color: rgb(197, 168, 73);
  /* background-image: linear-gradient(rgb(155, 180, 154), rgb(48, 54, 51)); */
  -webkit-box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
}

.headshot {
  background-image: linear-gradient(rgb(155, 180, 154), rgb(48, 54, 51));
  -webkit-box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
}

.article {
  font-size: 22px;
  color: rgb(184, 178, 181);
}
.listofskills {
  color: rgb(184, 178, 181);
  font-weight: bold;
}

.resumedownload {
  color: rgb(184, 178, 181);
  font-weight: bold;
}

.projectlist a {
  color: rgb(184, 178, 181);
  font-weight: bold;
}

.inset-left,
.inset-right,
.inset-mid {
  -webkit-box-shadow: inset 0px 0px 77px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: inset 0px 0px 77px 0px rgba(0, 0, 0, 0.14);
  box-shadow: inset 0px 0px 77px 0px rgba(0, 0, 0, 0.14);
}

.footer {
  background-color: rgb(44, 40, 43);
}
.footlinks a {
  color: rgb(167, 141, 157);
  font-weight: bold;
}
.footlinks:hover {
  color: rgb(206, 160, 189);
}

.footlinks a:visited {
  color: rgb(116, 108, 113);
}

span.we {
  color: rgb(209, 30, 90);
  font-weight: bold;
}
span.can {
  color: rgb(34, 143, 70);
  font-weight: bold;
}
span.code {
  color: rgb(57, 103, 230);
  font-weight: bold;
}
span.it {
  color: rgb(206, 36, 24);
  font-weight: bold;
}

/* ANIMATED BOXES */
.movingBox {
  position: absolute;
  z-index: 6;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(10deg);
  border-style: solid;
  -webkit-box-shadow: 14px 27px 24px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 14px 27px 24px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 14px 27px 24px 0px rgba(0, 0, 0, 0.14);
}

#animatedBox1 {
  height: 220px;
  animation: mymove 30s infinite;
  animation-timing-function: linear;
}

#animatedBox2 {
  height: 160px;
  animation: mymove2 36s infinite;
  animation-timing-function: linear;
}

#animatedBox3 {
  height: 140px;
  animation: mymove3 20s infinite;
  animation-timing-function: linear;
}

#animatedBox4 {
  height: 180px;
  margin-top: 60px;
  margin-left: 30px;
  animation: mymove 20s infinite;
  animation-timing-function: linear;
}

#animatedBox5 {
  height: 320px;
  margin-bottom: 30px;
  animation: mymove2 56s infinite;
  animation-timing-function: linear;
}

#animatedBox6 {
  height: 110px;
  margin-left: 20px;
  margin-bottom: 96px;
  animation: mymove3 10s infinite;
  animation-timing-function: linear;
}

#animatedBox7 {
  height: 100px;
  animation: mymove 16s infinite;
  animation-timing-function: linear;
}

#animatedBox8 {
  height: 190px;
  animation: mymove2 63s infinite;
  animation-timing-function: linear;
}

#animatedBox9 {
  height: 240px;
  margin-left: 60px;
  animation: mymove3 29s infinite;
  animation-timing-function: linear;
}

#animatedBox10 {
  height: 150px;
  margin-bottom: 224px;
  margin-left: 60px;
  animation: mymove 26s infinite;
  animation-timing-function: linear;
}

#animatedBox11 {
  height: 180px;
  margin-bottom: 20px;
  margin-left: 205px;
  animation: mymove2 25s infinite;
  animation-timing-function: linear;
}

#animatedBox12 {
  height: 360px;
  margin-left: -20px;
  margin-top: 10%;
  animation: mymove3 69s infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  0% {
    top: 100%;
    left: 100%;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0);
  }
  20% {
    width: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.25);
  }
  40% {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0);
  }
  60% {
    width: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.25);
  }
  80% {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0);
  }
  100% {
    top: -220px;
    left: -400px;
    width: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.25);
  }
}

@keyframes mymove2 {
  0% {
    top: 80%;
    left: 110%;
    width: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.25);
  }
  20% {
    width: 120px;
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0);
  }
  40% {
    width: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.25);
  }
  60% {
    width: 120px;
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0);
  }
  80% {
    width: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.25);
  }
  100% {
    top: -200px;
    left: -200px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0);
  }
}

@keyframes mymove3 {
  0% {
    top: 120%;
    left: 80%;
    width: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.25);
  }
  20% {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0);
  }
  40% {
    width: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.25);
  }
  60% {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0);
  }
  80% {
    width: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.25);
  }
  100% {
    top: 0%;
    left: -200px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0);
  }
}
