/* .body {
  background-image: linear-gradient(rgb(110, 103, 108), rgba(57, 54, 56));
} */

.container {
  background-image: linear-gradient(rgb(110, 103, 108), rgba(57, 54, 56));
}

.header {
  background-color: rgb(64, 58, 62);
}
.top-navigation a {
  color: rgb(167, 141, 157);
  font-weight: bold;
}
.top-navigation a:hover {
  color: rgb(228, 207, 220);
}

.top-navigation a:visited {
  color: rgb(116, 108, 113);
}

.headline {
  font-size: 3em;
  font-weight: bold;
}

.subtext {
  font-style: italic;
}

.heroimage {
  /* opacity: 50%; */
  background-image: linear-gradient(rgb(155, 180, 154), rgb(48, 54, 51));
  -webkit-box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
}

.headshot {
  background-image: linear-gradient(rgb(155, 180, 154), rgb(48, 54, 51));
  -webkit-box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.75);
}

.listofskills {
  color: rgb(184, 178, 181);
  font-weight: bold;
}

.resumedownload {
  color: rgb(184, 178, 181);
  font-weight: bold;
}

.projectlist a {
  color: rgb(184, 178, 181);
  font-weight: bold;
}

.footer {
  background-color: rgb(44, 40, 43);
}
.footlinks a {
  color: rgb(167, 141, 157);
  font-weight: bold;
}
.footlinks:hover {
  color: rgb(206, 160, 189);
}

.footlinks a:visited {
  color: rgb(116, 108, 113);
}

span.we {
  color: rgb(209, 30, 90);
  font-weight: bold;
}
span.can {
  color: rgb(34, 143, 70);
  font-weight: bold;
}
span.code {
  color: rgb(57, 103, 230);
  font-weight: bold;
}
span.it {
  color: rgb(206, 36, 24);
  font-weight: bold;
}
